loguru==0.7.2
bittensor==9.0.0rc4
python-dotenv==1.0.1
pydantic-settings==2.6.0
wandb==0.18.5
numpy==2.0.2
pandas==2.2.3
websockets
requests==2.31.0
psutil
asyncio
pymongo
pyopenssl==24.2.1
geoip2==4.8.0
paramiko==3.5.0
aiohttp
asyncssh==2.19.0